.check-box-questions-question {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.check-box-questions-check-box-images {
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.check-box-questions-option-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.check-box-questions-main-container {
  margin-bottom: 50px;
  padding: 0px 0px 0px 15px;
}

@media (max-width: 750px) {
  .check-box-questions-option-container {
    display: block;
  }

  .check-box-option-list {
    margin-bottom: 5px;
  }
}
