@import "../../../App.scss";

.services--page-unit-accordion {
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: inherit;
  border-radius: 5px;
}

.services--page-clickable-units {
  min-height: 48px;
  justify-content: flex-start;
}

#panel1a-content {
  width: 100%;
}

.services-page-accordion-detials {
  width: 95%;
  flex-direction: column;
  gap: 20px;
}
