.summary-service-detail{width: 100%;}
.summary-service-detail div{padding: 10px;}
.summary-service-detail div div{display: flex; justify-content: space-between;}
.summary-address{padding: 10px;}

.summary-product-detail{width: 100%;padding: 10px;}
.summary-product-detail div{display: flex;justify-content: space-between;}

.summary-main-container{
    width: 100%;
    padding: 15px;
}
.summary-main-container .align-center{text-align: center;margin-bottom: 15px;}
hr{margin-bottom: 10px;}

.summary-confirm-booking-btn{width: 30%;padding: 10px;}