@import "../../App.scss";
@import "../../mediaQueries.scss";

.customer-cart-detail{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customer-cart-detail .fae--product-card{
  display: flex;
  flex-direction: row;
  height: 200px;
}
.customer-cart-detail .fae--product-card-amount-of-products-action-and-price-wrapper{
  display: block;
}
.customer-cart-detail .fae--card-content {
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.customer-cart-detail .fae--product-card-amount-of-products-action-wrapper {margin-top: 80px !important; width: 80px !important;}
.customer-cart-detail .fae--product-card-add-to-card-button-wrapper {display: none;}

.customer-cart-detail .fae--product-card-image-or-video{
  width: 200px !important;
}