@import "../../App.scss";

.question-ans-main {
  width: 100%;
  background: url('../../img/main-background.png');
  background-size: cover;

  .question-ans-inside {
    width: 60%;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;

    .page-logo {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
    }
  }
}

.questions-answers-main-container {
  @include flex(center, center);
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;

  .back-arrow {
    width: 100%;
    margin-top: -70px;
  }

  .fae--shadow-box {
    box-shadow: none !important;
    background: #F1F6FA;
    border-radius: 8px;
    margin-bottom: 20px;

    .MuiSelect-nativeInput {
      background-color: #F1F6FA;
    }

    .fae--text-field-container,
    .fae--phone-input-container,
    .fae--select-container {
      width: 97% !important;

      p {
        background-color: #F1F6FA;
        margin: 0 !important;
      }

      .MuiInputBase-input {
        font-size: 14px;
        padding: 0 !important;
      }
    }
  }
}

.questions-answers-questions-container {
  width: 100%;
}

@media (max-width: 800px) {
  .questions-answers-questions-container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .questions-answers-questions-container {
    width: 90%;
  }
}