.booking-detail{
    width: 97%;
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.booking-service{font-size: 15px;font-weight: bold;margin-bottom: 5px;}