@import "../../App.scss";


.schedule-page-main {
  width: 100%;
  background: url('../../img/main-background.png');
  background-size: cover;

  .schedule-page-inside {
    width: 60%;
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    .fae--shadow-box {
      box-shadow: none !important;
    }

    .MuiFormControl-root {
      width: 80% !important;
      // border: 1px solid darkgray;
      background-color: #F1F6FA;
      border-radius: 10px;

      .MuiSelect-icon {
        display: none !important;
      }

      .MuiSelect-select.MuiSelect-select {
        padding-right: 0 !important;
      }
    }

  }
}

.schecdule--page-each-unit {
  @include flex(center, center);

  .each-unit-inside {
    @include flex(none, center);
    gap: 20px;
  }
}

.schedule--page-select {
  display: block;
}

.schedule--page-units-wrapper {
  @include flex(center, center);
  flex-direction: column;
  gap: 20px;

  .fae--check-box-group {
    width: 60%;
    margin: auto;
  }

  .fae-button {
    font-size: 16px;
    border-radius: 8px !important;
    height: 40px;
    width: 120px;
  }
}