.action-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button{
    padding: 10px 20px;
    border-radius: 8px;
  }
}

.action-buttons-button {
  outline: none;
  border: none;
  background: none;
  background: linear-gradient(to right, #83002d, #ff0024);
  width: 160px;
  font-size: 14px;
}

.checkoutBtn {
  gap: 20px;
}

.action-buttons-container-page-1 {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    border-radius: 8px;
    padding: 10px 20px;
  }
}

.action-buttons-main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .action-buttons-button {
    font-size: 13px;
    width: 145px;
  }
}

@media (max-width: 750px) {
  .action-buttons-container {
    width: 60%;
  }

  .action-buttons-container-page-1 {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .action-buttons-button {
    font-size: 11px;
    width: 125px;
  }

  .action-buttons-container {
    width: 90%;
  }

  .action-buttons-container-page-1 {
    width: 90%;
  }
}